
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Open+Sans:ital,wght@0,400;1,300;1,600;1,700&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,900;1,100;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  text-align: center;
  --t:20s;
  --t1:30s;
  --t2:20s;

  /*Tipografias*/
  --tipografiaPoppins:'Poppins';
  --tipografiafira: 'Fira Sans Extra Condensed', sans-serif;
  --tipografiamohave: 'Mohave', sans-serif;
  --tipografiaopen: 'Open Sans', sans-serif;
  --tipografiaplaygen: 'Playpen Sans', cursive;
  --tipo666: 'Edu TAS Beginner', cursive;

  
  /*colores*/
  --clr1:#249eff;
  --clr2:#ff1f6b;
  --clr3:#98ff21;
  --background:#111;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
}
.marge .Global{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
p{
  font-family: var(--tipografiamohave);
  font-size: 12px;
  color: #9f9e9e;
  
}
span{
  font-family: var(--tipografiafira);
  text-transform: capitalize;
  font-size: 15px;
}
h1{
  font-family: var(--tipografiaplaygen);
  font-size: 40px;
}
h2{
  font-family: var(--tipografiaplaygen);
  font-size: 20px;
}
h3{
  color: #fffafa;
}
span{
  
}
/*
Todo: orden de los Section
*/
section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  color: rgba(188, 187, 187, 0.1);
  background: #f6f3f3;
  text-transform: uppercase;
  font-weight: 800;
  gap:2rem
  
}
/*Profile */
.Global{
  /* Todo: About*/
  #Profile {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
  }
  #Profile .marge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100%;
    width: 100%;
  }
 
  #Profile .marge article .perfil{
    justify-content: center;
    align-items: center;
   
  }
  #Profile .marge article .perfil .detalles{
    width: 100%;
    font-family: var(--tipografiamohave);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    padding: 1rem;
  }
  #Profile .marge article .perfil .detalles .descrip2{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #25252b;
    box-shadow: 10px 10px 20px #282828;
    position: relative;
    margin-left: 28%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  #Profile .marge article .perfil .detalles .descrip2 {   
    color: #25252b;
    text-transform: capitalize;
    font-size: 18px;
  }
  #Profile .marge article .perfil .detalles ul{
   display: flex;
    position: relative;
    top: -20px;
    margin-left: 20%;
    gap: 5px;
    flex-wrap: wrap;
  }
  #Profile .marge article .perfil .detalles ul li {
    display: flex;
    gap:10px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px #25252b;
    width: 200px;
    height: 120px;
    padding:10px;
    border-bottom-left-radius: 20px;
    opacity: 0.9;
  }
  #Profile .marge article .perfil .detalles ul li ion-icon {
  width: 30px;
  height: 30px;
  }
  #Profile .marge article .perfil .detalles ul li h4{
    position: relative;
    top:-35px;
    }
    #Profile .marge article .perfil .detalles ul li bdo{
       font-family: var(--tipo666);
       font-size: 14px;
       text-align: justify;
       text-transform: capitalize;
       top: -29px;
       position: relative;
       
      }
  #Profile .marge article .perfil .detalles ul li:nth-child(1) {
    background: #515050;
    color: white;
    font-family: var(--tipografiaplaygen);
  }
  #Profile .marge article .perfil .detalles ul li:nth-child(2) {
    background: #515050;
    color: white;
    font-family: var(--tipografiaplaygen);
  }
  #Profile .marge article .perfil .detalles ul li:nth-child(3) {
    background: #515050;
    color: white;
    font-family: var(--tipografiaplaygen);
  }
  #Profile .marge article .perfil .detalles ul li:nth-child(4) {
    background: #515050;
    color: white;
    font-family: var(--tipografiaplaygen);
  }
  /* inicio Cards animados*/
  #Profile .marge .profileContainer{
  color:#4e4d4d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
 
  padding: 1rem;
}
#Profile .marge .profileContainer .card{
   position: relative;
   width: 200px;
   height: 300px;
   background: var(--clr1);border-radius: 20px;
   border-top-left-radius: 70px;
}
#Profile .marge .profileContainer .card .box{
  position: absolute;
  inset: 10px;
  background: #282828;
  border-top-left-radius: 70px;
}
#Profile .marge .profileContainer .card .box .conent{

  position: absolute;
  top: 120px;
  padding: 20px;
  text-align: center;
  
}

#Profile .marge .profileContainer .card .box .icon{
  position: absolute;
  width: 100px;
  height: 100px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 50%;
}

#Profile .marge .card:nth-child(2){
  background: var(--clr2);
}


#Profile .marge .card:nth-child(3){
  background: var(--clr3);
  
}
#Profile .marge .profileContainer .card:hover .box .icon{
width: 100%;
justify-content: center;
align-items: center;
}
#Profile .marge .profileContainer .card .box .icon::before{
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 20px;
  height: 15px;
  background:transparent;
  border-top-left-radius: 30px;
 /*transform: rotate(90deg);*/
  box-shadow: -5px -5px 0 5px var(--clr1);
}

#Profile .marge .profileContainer .card .box .icon::before{
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 20px;
  height: 15px;
  background:transparent;
  border-top-left-radius: 30px;
 /*transform: rotate(90deg);*/
  box-shadow: -5px -5px 0 5px var(--clr2);
}
#Profile .marge .profileContainer .card1 .box .icon::before{
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 20px;
  height: 15px;
  background:transparent;
  border-top-left-radius: 30px;
 /*transform: rotate(90deg);*/
  box-shadow: -5px -5px 0 5px var(--clr1);
}

#Profile .marge .profileContainer .card2 .box .icon::before{
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 20px;
  height: 15px;
  background:transparent;
  border-top-left-radius: 30px;
 /*transform: rotate(90deg);*/
  box-shadow: -5px -5px 0 5px var(--clr2);
}
#Profile .marge .profileContainer .card3 .box .icon::before{
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 20px;
  height: 15px;
  background:transparent;
  border-top-left-radius: 30px;
 /*transform: rotate(90deg);*/
  box-shadow: -5px -5px 0 5px var(--clr3);
}
#Profile .marge .profileContainer .card .box .icon .iconBox{
  position: absolute;
  inset: 10px;
  background: #282828;
  border-radius: 50%;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  
color: #c3c2c2;
  
}
#Profile .marge .profileContainer .card .box .icon .iconBox ion-icon{
  
  font-size: 4em;
  color: #c3c2c2;
    }
#Profile .marge .profileContainer .card:hover .box .icon .iconBox ion-icon{
font-size: 4em;
color: #c3c2c2;
  }
}

.Global{
  /* Todo: About*/
  #Contact {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
  }
  #Contact .marge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100%;
    width: 100%;
  }
}

/*Todo: comonente del home*/
#Home{
display:flex;
justify-content: center;
padding: 0;
align-items: center;
background: url('./assets//fxac.gif');
background-repeat: none;
background-position: center center;
background-size: cover;
width: 100%;
  
}
.scroll{
  position: relative;
  display: flex;
  flex-direction: column;
  width:100%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(90deg, transparent , #fff 20%,#fff 80%,transparent);
}

.scroll div{
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
  animation-delay: calc((var(--t) * -1));
}
.scroll div:nth-child(2){
  animation: animate2 var(--t1) linear infinite;
  animation-delay: calc(var(30s) / -2);
}

.scroll div span{
  display: inline-flex;
  margin:10px ;
  letter-spacing: 0.2em;
 /* text-transform: uppercase;*/
  /*background: ;*/
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
  color: #c3c2c2;
}
.scroll div span:hover{
  background: #008a1b;
  cursor:pointer;
}
/*Animate con key*/
@keyframes animate{
 0%{
  transform: translateX(50%);
 }
 100%{
  transform: translateX(-50%);
 }
}
@keyframes animate2{
  0%{
  transform: translate(1%);
  }
  100%{
    transform: translateX(-100%);

  }
}


/*fin Cards animados*/
   .header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #02050c;
    padding: 10px  50px;
    display: flex;
    align-items: center;
    z-index: 100000;
    /*opacity: 0.5;*/
  }
   #Message .marge {
    display:flex;
    height: 100%;
    padding: 2rem;
    justify-content: center;
    color: #111;
    flex-direction: column;
    position: relative;
  }
   #Contact .marge {
    display:flex;
    width: 100%;
    padding: 2rem;
    justify-content: center;
    color: #111;
    flex-direction: column;
  }
  .logo{
    position: relative;
    color: #fff;
    font-size: 2em;
    font-weight: 600;
  }
  .redes{
    font-size: 4em;
  }


  .Global {
    #Message{
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 110px;
    }
    #Message .marge{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      height: 100%;
      width: 100%;
    }
    .porfolio { 
      display:flex;
      flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     flex-wrap: wrap;
    }
  
     .porfolio .boxporfolio{
    position: relative;
    width: 200px;
    height: 200px;
    background: repeating-conic-gradient(from var(--a),#7c7d7b 0%,#0476cc 5% ,transparent 5% ,transparent 40%,#d2d2d2 50%);
    animation: rotating 2s linear infinite ;
    border-radius: 20px;
    filter: drop-shadow(0 15px 50px #000);
    display: flex;
    justify-content: center;
    align-items: center;   
  }
  /*porfolio efectos*/
   .porfolio .boxporfolio{
  position: relative;
  width: 200px;
  height: 200px;
  background: repeating-conic-gradient(from var(--a),#7c7d7b 0%,#0476cc 5% ,transparent 5% ,transparent 40%,#d2d2d2 50%);
  animation: rotating 2s linear infinite ;
  border-radius: 20px;
  filter: drop-shadow(0 15px 50px #000);
  display: flex;
  justify-content: center;
  align-items: center;   
}
.porfolio .boxporfolio:hover{
  background: #027c85;
  padding: 1rem;
}
.porfolio .boxporfolio a h2:hover{
  background: #ac0379;
}
.porfolio .boxporfolio h2 ion-icon{
  font-size: 70px;
}
.porfolio .boxporfolio:nth-child(1){
  filter:drop-shadow( 0 15px 50px #000) hue-rotate(225deg);
}

.porfolio .boxporfolio:nth-child(3){
  filter:drop-shadow( 0 15px 50px #000) hue-rotate(310deg);
}


.boxporfolio::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(from var(--a),#04c8c8 0%,#027c85 5% ,transparent 5% ,transparent 40%,#bcbcbc 50%);
  animation: rotating 2s linear infinite ;
  border-radius: 20px;
  animation-delay: -0.5s;
}
.boxporfolio::after{
  content: '';
  position:absolute;
  inset: 6px;
  border: 8px solid #25252b;
  border-radius: 15px;
  background: #2d2d39;
  
}
.boxporfolio h2 {
   position: absolute;
   inset: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   background: rgba(0,0,0,0.2);
   color: #f6f2f2;
   z-index: 10000;
   text-transform: uppercase;
   box-shadow: inset 0 10px 20px rgba(0,0,0,0.5);
}

/*End efects porfolio*/
  }
  @property --a {
    syntax:'<angle>';
    inherits: false;
    initial-value: 0deg;
  }
  @property --a {
    syntax:'<angle>';
    inherits: false;
    initial-value: 0deg;
  } 
  @keyframes rotating{
    0%{
    --a:0deg;
    }
    100%{
      --a:360deg;
    }
  
  }
  header nav{
    display: flex;
    gap: 10px;
  }
  header nav a {
    position: relative;
    text-decoration: none;
    padding: 12px 20px;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: 400;
  }
  header nav a:hover {
 color: #fffafa;
 font-size: 15px;
 opacity: 0.9;
  }
  .contacto .redes a ion-icon:hover{
    color: #9ea19b;
  }
/*si es menor a 700px*/
@media screen and (max-width:700px) {
  header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1px  25px;
    display: flex;
    align-items: center;
    z-index: 10000;
    justify-content:space-between;
  }
  .responsive{
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1px  25px;
    display: flex;
    align-items: center;
    z-index: 10000;
  }

  header nav button {
    display: flex;
    color: #c3c2c2;
    border-radius: 20px;
    padding: 10px;
    height: 66px;
    width: 66px;
    
  }

  header nav a{
   display: none;
  }
 
  header nav button ion-icon{
    font-size: 30px;
    box-shadow:10px 10px 10px #02050c;
    background: #249eff;
    border-radius: 20px;
    padding:5px;
  }
  .contacto .redes a ion-icon:hover{
  
    color: #9ea19b;
  }
  #Profile .marge article .perfil {
    width: 500px;
    padding: 0%;
    margin-right: 30px;
  }
  #Profile .marge article .perfil .detalles .descrip2{
    display: flex;
    flex-direction: column;
    text-align: justify;
   
    justify-content: center;
    align-items: center;
    
    color: #25252b;
    box-shadow: 10px 10px 20px #282828;
    position: relative;
    
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  

  }
  #Profile .marge article .perfil .detalles ul{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 66px;  
  }
  #Profile .marge article .perfil .detalles ul li {
    border-radius: 20px; 
   }
   #Profile .marge article .perfil .detalles ul li:hover {
    border-radius: 20px; 
    background: #008a1b;
   }

   #Profile .marge{
    .contador{
       color:#045313;
       font-size: 20px;
       padding: 3rem;


    }
   }

}

/* si es mayor a 700px*/
  @media screen and (min-width:700px)  {

    body{
      margin: 0;
      padding: 0;
    }
    .Global{
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }
     .modaScrem{
      display: none;
    }
     header nav button{
      display: none;
    }
    #Profile .marge .contador{
      
         color:#045313;
         font-size: 20px;
         padding: 3rem;
  
  
    }
      header{
      position: fixed;
      width: 100%;
      top: 0;
      background: #195cf7;
      padding: 10px  50px;
      display: flex;
      align-items: center;
      z-index: 10000;
          
    justify-content: space-between;
      
    }
    
    .moda{
      padding: 10px  50px;
      display: flex;
      justify-content: space-between;
     
      z-index: 100000; 
    }
    .marge  header nav{
      display: flex;
      gap: 1px;
      
    }
    .marge header nav a {
      position: relative;
      text-decoration: none;
      padding: 12px 20px;
      color: #fff;
      letter-spacing: 0.1em;
      font-weight: 400;
    }
    .marge  header nav a:hover {
   color: #fffafa;
   font-size: 15px;
   
    }
  section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  color: rgba(188, 187, 187, 0.1);
  background: #f6f2f2;
  text-transform: uppercase;
  font-weight: 800;
  
}
body{
  margin: 0;
  padding: 0;
}

.scroll{
  position: relative;
  display: flex;
  flex-direction: column;
  width:50%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(90deg, transparent , #fff 20%,#fff 80%,transparent);
}

.scroll div{
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
  animation-delay: calc((var(--t) * -1));
}
.scroll div:nth-child(2){
  animation: animate2 var(--t1) linear infinite;
  animation-delay: calc(var(30s) / -2);
}

    .scroll div span{
      display: inline-flex;
      margin:10px ;
      letter-spacing: 0.2em;
    /* text-transform: uppercase;*/
      /*background: ;*/
      padding: 5px 10px;
      border-radius: 5px;
      transition: 0.5s;
      color: #c3c2c2;
    }
    .scroll div span:hover{
      background: #008a1b;
      cursor:pointer;
    }
    .contacto .redes a ion-icon:hover{
  
      color: #9ea19b;
    }

    
  }

